/* ====================== Main View ====================== */
@media only screen and (min-width: 800px) {

  .filter-options {
    flex-direction: row;
    }


  #restaurants-list{
    justify-content: space-around;
    flex-flow: wrap;
  }

  #restaurants-list li {
    width: 35%;
  }
}

@media only screen and (min-width: 1100px) {
  #restaurants-list li {
    width: 27%;
    height: 449px;
  }
  .filter-options{
    width:1100px;
  }
  #restaurants-list{
    width: 1100px;
  }
}

/* ====================== Restaurant Details View ====================== */

@media only screen and (min-width: 800px) {
  .details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #restaurant-container {
    width: 40%;
  }
  #reviews-container {
    width: 40%;
  }
}

@media only screen and (min-width: 800px) {
  .details-container {
    justify-content: center;
  }
}

/* ====================== Mobile View Media Break Point ====================== */

@media only screen and (max-width: 500px) {
  .header-title {
    font-size: 0.7em;
  }
  .skip-link {
    font-size: 0.7em;
  }
  #breadcrumb li {
    font-size: 0.6em;
  }
}
